<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Shi.ny - Shorten URLs like never before</h1>
    <form method="post" action="/URL">
        <label> 
            Enter your original URL here:
            <input id="originalURL" type="text" name="redirectURL" placeholder="for example: https://www.google.com "/>
        </label>
        <button type="submit">Generate</button>
    </form>


</body>
</html>